name: Radicale
services:
  radicale:
    image: ghcr.io/kozea/radicale:stable
    container_name: radicale
    restart: unless-stopped
    ports:
      - "5232:5232"
    volumes:
      - /opt/homelab/radicale/config:/etc/radicale
      - /opt/homelab/radicale/data:/var/lib/radicale
