version: 2

locations:
  homelab:
    from: /opt/homelab
    to:
      - local-vault
    hooks:
      before:
        - "docker stop $(docker ps -q --filter label=backup.manage=true)"
      after:
        - "docker start $(docker ps -a -q --filter label=backup.manage=true)"

backends:
  local-vault:
    type: local
    path: /mnt/storage/backups
    key: "{{ autorestic_repo_pwd }}"

  cloud-b2:
    type: b2
    path: "{{ autorestic_b2_path }}"
    key: "{{ autorestic_repo_pwd }}"
    env:
      B2_ACCOUNT_ID: "{{ autorestic_b2_id }}"
      B2_ACCOUNT_KEY: "{{ autorestic_b2_key }}"
